{%extends "style.html"%}

{% block pagetitle %} Publications {% endblock %}


{% block pagedata %}


<div class="bs-example">
    <div class="row" style="justify-content: center;margin-bottom: 10px;">
        <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-toggle="tab">Journals</a>
            </li>
            <li class="nav-item">
                <a href="#messages" class="nav-link" data-toggle="tab">Conference Proceedings</a>
            </li>
        </ul>
    </div> 
    <div class="tab-content">
        <div class="tab-pane fade" id="profile">
            <!-- start of Journals list  -->


            {%for pape in paper%}
            <div class="row" style="text-align: center;">
                <div class="col-lg-1"  >
                    <kbd>{{forloop.counter}}</kbd>
                </div>
                <div class="col-lg-10" style="text-align: justify;">
                    <p> {{pape.title}}
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href={{pape.link}}>click</a>
                </div>
            </div>

          {%endfor%}
           
            <!-- end of of Journals list  -->
            


        </div>
        <div class="tab-pane fade" id="messages">



             <!-- start of confarence list  -->

             {%for pape in confarence%}
             <div class="row" style="text-align: center;">
                 <div class="col-lg-1"  >
                     <kbd>{{forloop.counter}}</kbd>
                 </div>
                 <div class="col-lg-10" style="text-align: justify;">
                     <p> {{pape.title}}
                     </p>
                 </div>
             </div>
 
           {%endfor%}
            <!-- end of of confarence list  -->
            


        </div>
    </div>
</div>


{% endblock %}


