{%extends "style.html"%}

{% block pagetitle %} Publications {% endblock %}


{% block pagedata %}


<div class="bs-example">
    <div class="row" style="justify-content: center;margin-bottom: 10px;">
        <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-toggle="tab">Journals</a>
            </li>
            <li class="nav-item">
                <a href="#messages" class="nav-link" data-toggle="tab">Conference Proceedings</a>
            </li>
        </ul>
    </div> 
    <div class="tab-content">
        <div class="tab-pane fade" id="profile">
            <!-- start of Journals list  -->

            <div class="row">
                <div class="col-lg-1"  >
                    <kbd>1</kbd>
                </div>
                <div class="col-lg-10">
                    <p> <strong>I. Rahaman</strong>, M. F. Reza, M. S. Hossain, P. K. Sarkar “Performance Analysis of Linearly Arranged Concentric Circular Antenna Array with
                        Low Sidelobe Level and Beam-width Using Robust Tapering Techniques”, 2020. (Got a minor review from “IEEE Access”, and about
                        to accept soon)
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href="">click</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1">
                    <kbd>1</kbd>
                </div>
                <div class="col-lg-10">
                    <p>I. Rahaman, M. F. Reza, M. S. Hossain, P. K. Sarkar “Performance Analysis of Linearly Arranged Concentric Circular Antenna Array with
                        Low Sidelobe Level and Beam-width Using Robust Tapering Techniques”, 2020. (Got a minor review from “IEEE Access”, and about
                        to accept soon)
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href="">click</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <kbd>1</kbd>
                </div>
                <div class="col-lg-10">
                    <p>I. Rahaman, M. F. Reza, M. S. Hossain, P. K. Sarkar “Performance Analysis of Linearly Arranged Concentric Circular Antenna Array with
                        Low Sidelobe Level and Beam-width Using Robust Tapering Techniques”, 2020. (Got a minor review from “IEEE Access”, and about
                        to accept soon)
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href="">click</a>
                </div>
            </div>
           
            <!-- end of of Journals list  -->
            


        </div>
        <div class="tab-pane fade" id="messages">



             <!-- start of confarence list  -->

             <div class="row">
                <div class="col-lg-1"  >
                    <kbd>1</kbd>
                </div>
                <div class="col-lg-10">
                    <p> <strong>I. Rahaman</strong>M. S. Hossain, M. F. Reza and P. K. Sarkar, ”Linearly-arranged Concentric Circular Antenna Array Beamformer Using Ta-
                        pering Technique,” 2019 5th International Conference on Advances in Electrical Engineering (ICAEE), pp. 648-652, Dhaka,Bangladesh
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href="">click</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1">
                    <kbd>2</kbd>
                </div>
                <div class="col-lg-10">
                    <p>I. Rahaman, M. F. Reza, M. S. Hossain, P. K. Sarkar “Performance Analysis of Linearly Arranged Concentric Circular Antenna Array with
                        Low Sidelobe Level and Beam-width Using Robust Tapering Techniques”, 2020. (Got a minor review from “IEEE Access”, and about
                        to accept soon)
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href="">click</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <kbd>1</kbd>
                </div>
                <div class="col-lg-10">
                    <p>I. Rahaman, M. F. Reza, M. S. Hossain, P. K. Sarkar “Performance Analysis of Linearly Arranged Concentric Circular Antenna Array with
                        Low Sidelobe Level and Beam-width Using Robust Tapering Techniques”, 2020. (Got a minor review from “IEEE Access”, and about
                        to accept soon)
                    </p>
                </div>
                <div class="col-lg-1">
                    <a href="">click</a>
                </div>
            </div>
           
            <!-- end of of confarence list  -->
            


        </div>
    </div>
</div>


{% endblock %}


