{%extends "style.html"%}

{% block pagetitle %} Teaching {% endblock %}




{% block pagedata %}

<div class="row">
  {% for x in video %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          
          <video class="embed-responsive embed-responsive-16by9" controls="controls" preload="metadata">
            <source src="{{x.video.url}}" type="video/mp4" />
          </video>

          <div class="card-body">
            <p class="card-text">{{x.caption}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
</div>

{%endblock%}

